{% extends "base.html" %}

{% load smartmin %}

{% block temba-login %}{% endblock %}

{% block content %}
<div class="row">
  <div class="span7 offset2">
    <div class="page-header"><h2>Sign in</h2></div>

    <form method="post" class="form-stacked" id="login-form" onsubmit="return validateRecaptcha();">
      {% for field, errors in form.errors.items %}
      {% if field == '__all__' %}
      <div class="alert alert-error form-errors">
        <h3>Error</h3>
        {{ errors }}
      </div>
      {% endif %}
      {% endfor %}

      <fieldset>

        <div class="clearfix ">
          <label for="username">Email Address</label>
          <div class="input"><input id="id_username" type="text" name="username" maxlength="254" value="{{ request.POST.username }}"></div>
          {% if field.error %}
          <span class="help-inline">{{ field.error }}</span>
          {% endif %}
        </div>

        <div class="clearfix ">
          <label for="password">Password</label>
          <div class="input"><input type="password" name="password" id="id_password" value="{{ request.POST.password }}"></div>
        </div>

        {% if no_cellphone %}
        <div class="clearfix ">
          <label for="cellphone">Phone Number</label>
          <div class="input"><input type="text" name="tel" id="id_tel" value=""></div>
          <span class="help-inline help-cell-phone">Ex. +250788123123</span>
        </div>
        {% endif %}

        {% if no_authy_code %}
          <div class="clearfix ">
            <label for="authy_code">Authy Code</label>
            <div class="input"><input type="text" name="authy_code" id="id_authy_code" value=""></div>
          </div>
        {% endif %}

        {% if not no_recaptcha %}
        <div id="recaptcha"></div>
        {% endif %}

        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="Login">
        <span style="margin-left:170px;"><a href="/users/user/forget/">Forgot Password?</a></span>

      </fieldset>
    </form>
  </div>

</div>
{% endblock %}

{% block extra-style %}
<style>
  hr.top-bar {
    display: none;
  }

  li {
    list-style: none;
    margin-left: 0;
  }

  #recaptcha {
    margin: 5px 0 10px 0;
  }

  .help-cell-phone {
    margin: 0 0 10px 0;
    font-size: 12px;
  }
</style>
{% endblock %}

{% block extra-script %}
  {% if not no_recaptcha %}
  <script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_secrete_key }}"></script>
  <script>
    function validateRecaptcha() {
      const response = grecaptcha.getResponse();
      return response.length !== 0;
    }
    grecaptcha.ready(() => {
      grecaptcha.render('recaptcha', {
        'sitekey': '{{ recaptcha_site_key }}'
      });
    });
  </script>
  {% endif %}
{% endblock %}
