-load i18n

:css
  .quick-reply, .quick-reply:hover {
    transition: none;
    -webkit-transition: none;
  }

%html
  %body
    .translation.modal{data-dismiss:"modal"}
      .modal-header
        %button{data-dimiss:"modal",type:"button",class:"pull-right close",aria-hidden:"true"}
        %h3
          .icon
          %span{id:"modal-title"}><
            -trans "Translation"
      .modal-body
        %form
          .translation{ng-repeat:'translation in translations'}
            %h5
              -trans "[[language.name]] [[translation.name]]"
            .translate-text.translate-from{ng-show:"translation.from"}
              [[translation.from]]
            -include 'partials/invalid_fields.haml'                
            %label
              .large{ng-if:'!translation.input'}
                %textarea{ng-model:"translation.to",auto-complete:"",class:"translation"}
              .small{ng-if:'translation.input'}
                %input{ng-model:"translation.to", type:"text", auto-complete:"",class:"translation"}

            .quick-reply{ng-show:"translation.fromQuickReplies.length"}
              .modal-quick-reply-header
                .quick-reply-title
                  -trans "Quick Replies"

              .modal-quick-reply{ng-repeat:"response in translation.fromQuickReplies", class:""}
                .quick-reply-title.center-translate
                  .translate-from{ng-show:"translation.fromQuickReplies"}
                    [[ response[language.from] ]]
                  %input{type:"text", name:"quick-reply-title", auto-complete:"", ng-model:"response[language.to]", ng-required:"true"}

            .all-that-apply{ng-show:"translation.fromApplyOptions.length"}
              .modal-all-that-apply-header
                .all-that-apply-title
                  -trans "Select all that apply"

              .modal-all-that-apply{ng-repeat:"option in translation.fromApplyOptions", class:""}
                .all-that-apply-title.center-translate
                  .translate-from{ng-show:"translation.fromApplyOptions"}
                    [[ option[language.from] ]]
                  %input{type:"text", name:"apply-option-title", auto-complete:"", ng-model:"option[language.to]", ng-required:"true"}

              .all-that-apply-title
                -trans "Selection text"
                .modal-all-that-apply
                  .all-that-apply-true
                    .translate-from{ng-show:"translation.fromApplyOptions"}
                      [[ translation.fromApplyTrue[language.from] ]]
                    %input{type:"text", name:"apply-true", auto-complete:"", ng-model:"translation.fromApplyTrue[language.to]", ng-required:"true"}
                  .all-that-apply-false
                    .translate-from{ng-show:"translation.fromApplyOptions"}
                      [[ translation.fromApplyFalse[language.from] ]]
                    %input{type:"text", name:"apply-false", auto-complete:"", ng-model:"translation.fromApplyFalse[language.to]", ng-required:"true"}
      .modal-footer
        %button{ng-click:"cancel()",class:"btn btn-secondary"}
          -trans "Cancel"
        %button{ng-click:"ok(translations)",class:"btn btn-primary"}
          -trans "Ok"