-load smartmin i18n temba

%ul#top-menu

  -if org_perms.orgs.org_dashboard and not request.user.is_superuser
    %li.nav-dashboard
      %a.icon-nav-dashboard{href:"{% url 'dashboard.dashboard_home' %}", class:"{% active request 'dashboard/home' %}"}
        .title
          -trans "dashboard"
      %div.custom-tooltip
        %div.custom-tooltip-arrow
        %span.custom-tooltip-icon
          %div.around
            %i.icon-nav-dashboard-inverted
        %span.custom-tooltip-title
          -trans "Dashboard"
        %div.custom-tooltip-separator
        %span.custom-tooltip-description
          -trans "See the details about sending/receiving messages"

  -if org_perms.flows.flow_survey_list and not request.user.is_superuser
    %li.nav-flows
      %a.icon-nav-flows{href:"{% url 'flows.flow_survey_list' %}", class:"{% active request '(?<!msg)/flow' %}"}
        .title
          -trans "surveys"
      -if flows_unread_count
        .notification
          {{ flows_unread_count }}
      %div.custom-tooltip
        %div.custom-tooltip-arrow
        %span.custom-tooltip-icon
          %div.around
            %i.icon-nav-flows-inverted
        %span.custom-tooltip-title
          -trans "Surveys"
        %div.custom-tooltip-separator
        %span.custom-tooltip-description
          -trans "Run and keep track of your messaging flows to 100% completion"

  -if org_perms.msgs.msg_inbox and not request.user.is_superuser
    %li.nav-messages
      %a.icon-nav-messages{href:"{% url 'msgs.msg_inbox' %}", class:"{% active request 'inbox|outbox|broadcast|call|msg/filter|msg/flow|msg/archived|failed' %}"}
        .title
          -trans "messages"
      -if msgs_unread_count
        .notification
          {{ msgs_unread_count }}
      %div.custom-tooltip
        %div.custom-tooltip-arrow
        %span.custom-tooltip-icon
          %div.around
            %i.icon-nav-messages-inverted
        %span.custom-tooltip-title
          -trans "Messages"
        %div.custom-tooltip-separator
        %span.custom-tooltip-description
          -trans "Manage your inbox of inbound in outbound message"

  -if org_perms.contacts.contact_list and not request.user.is_superuser
    %li.nav-contacts
      %a.icon-nav-contacts{href:"{% url 'contacts.contact_list' %}", class:"{% active request 'contact|imports' %}"}
        .title
          -trans "contacts"
      %div.custom-tooltip
        %div.custom-tooltip-arrow
        %span.custom-tooltip-icon
          %div.around
            %i.icon-nav-contacts-inverted
        %span.custom-tooltip-title
          -trans "Contacts"
        %div.custom-tooltip-separator
        %span.custom-tooltip-description
          -trans "Create and manage your contacts and groups"

  -if org_perms.orgs.org_home and not request.user.is_superuser
    %li.nav-account
      %a.icon-nav-home{href:"{% url 'orgs.org_home' %}", class:"{% active request 'org/home' %}"}
        .title
          -trans "account"
      %div.custom-tooltip
        %div.custom-tooltip-arrow
        %span.custom-tooltip-icon
          %div.around
            %i.icon-nav-home-inverted
        %span.custom-tooltip-title
          -trans "Account"
        %div.custom-tooltip-separator
        %span.custom-tooltip-description
          -trans "Manage your account"

  -if not request.user.is_anonymous
    %li.more
      %a.icon-menu-4{href:""}

      .submenu-container.hide
        .submenu

          %a.icon-nav-logout{href:"{% url 'users.user_logout' %}"}
            .title
              -trans "logout"

  -else
    -block temba-login

      %li.nav-login
        %a.icon-nav-login{href:"{% ssl_brand_url 'users.user_check_login' %}"}
          .title
            -trans "sign in"

-if user_org and user_org.has_low_credits and not user.is_superuser
  -if user_org.get_credits_remaining < 0
    .nav-alert.interrupted
      %a{href:'{% url "orgs.topup_list" %}'}
        {% blocktrans %}You are out of credits, add more to resume your service{% endblocktrans %}
  -else
    .nav-alert
      %a{href:'{% url "orgs.topup_list" %}'}
        {% blocktrans count credits=user_org.get_credits_remaining %}You have {{ credits }} credit remaining, add credits to prevent interruption{%plural%}You have {{ credits }} credits remaining, add credits to prevent interruption{% endblocktrans %}</a>
-elif unsent_msgs or delayed_syncevents
  .nav-alert
    %a{href:'{% url "orgs.org_home" %}'}
      .icon-warning
      -trans "Your phone is having difficulty relaying messages"
