-extends 'smartmin/form.html'

-load compress temba smartmin i18n

-block form-span

-block title-text
  .title-text
    %h1
      -trans "Freshchat Account"

-block summary
  -if freshchat_is_connected
    -trans "Connected to Freshchat Account"
  -else
    -trans "Connect your Freshchat account"

-block pre-form
  -if not freshchat_is_connected
    -blocktrans
      Connecting your Freshchat account will allow you to send the messages to your agents. 
      To signup for an account, visit
    <a target='_new' href='https://www.freshworks.com/live-chat-software/'>Freshchat</a>.
    %hr

-block fields
  -if not freshchat_is_connected
    {{ block.super }}

-block form-buttons

-block post-form
  -if freshchat_is_connected and request.META.HTTP_X_FORMAX
    %p
      -trans "Your Freshchat account is connected."

    %p
      -trans "If you no longer want it connected, you can"
      %a{href:'javascript:confirmFreshchatDisconnect();'}
        -trans "disconnect"
      -trans "your Freshchat account. Doing so will interrupt the data sent to your Freshchat account."

    .disconnect-freshchat.hide
      .title
        -trans "Disconnect Freshchat"
      .body
        -blocktrans
          This will disconnect your Freshchat account. Are you sure you want to proceed?
    %a#disconnect-freshchat-form.posterize{href:'{% url "orgs.org_freshchat" %}?disconnect=true'}

-block extra-script
  :javascript
    $(document).ready(function() {
      select2div('#id_type');
    });
    function confirmFreshchatDisconnect() {
      removalConfirmation("disconnect-freshchat", "Disconnect");
    }
