-extends 'flows/flow_update.haml'

-load i18n

-block modal-script
  {{block.super}}

  :javascript
    $(document).ready(function() {
      // Don't show keywords when Surveyor is selected
      $('#id_flow_type').on('change', function() {
        var is_surveyor = $(this).attr('value') == 'S';
        var triggers = $('#id_keyword_triggers').parents('.control-group')

        if (is_surveyor) {
          triggers.hide()
        } else {
          triggers.show()
        }
      });

      $('.field_keyword_triggers').addClass('hide');
      $('.field_flow_type').addClass('hide');

      var btnAdvancedOptions = $('a#advanced-options');

      btnAdvancedOptions.click(function() {
        if (btnAdvancedOptions[0].className === 'active') {
          $('.field_keyword_triggers').addClass('hide');
          $('.field_flow_type').addClass('hide');
          btnAdvancedOptions.removeClass('active');
          btnAdvancedOptions.html('{% trans "Advanced options" %}');
        } else {
          $('.field_keyword_triggers').removeClass('hide');
          $('.field_flow_type').removeClass('hide');
          btnAdvancedOptions.addClass('active');
          btnAdvancedOptions.html('{% trans "Simple options" %}');
        }
      });

    });

-block form-right
  %a{href: 'javascript:;', id: 'advanced-options'}
    -trans "Advanced options"