-extends "smartmin/form.html"

-load smartmin
-load i18n

- block pjax
  #pjax
    .row
      .span3
        #big-help.glyph.icon-cloud

      .span9
        %p
          -trans "You can import your contacts from Salesforce."

        %p
          -trans "By clicking the button below, your contacts will be imported from Salesforce. Before clicking on import, choose what fields you want to import to Community Connect Labs."

        - block import-status
          #import-status
            #import-message
              - if task
                - if task.status == "PENDING" or task.status == "RUNNING" or task.status == "STARTED"
                  %p
                    Importing..
                    %img{src:"{{ STATIC_URL }}images/loader-circles.gif"}
                

                - else 
                  - if task.status == "SUCCESS" and group.contacts.all
                    - if results.creates
                      .import-result
                        .glyph.icon-checkmark.success
                        -blocktrans count results.creates as create_count
                          Created {{ create_count }} new contact
                          -plural
                            Created {{ create_count }} new contacts

                    - if results.updates
                      .import-result
                        .glyph.icon-checkmark.success
                        -blocktrans count results.updates as update_count
                          Updated {{ update_count }} contact with an existing phone number
                          -plural
                            Updated {{ update_count }} contacts with existing phone numbers

                    .import-result
                      .glyph.icon-checkmark.success
                      -blocktrans with contacts_count=results.records
                        Added all contacts to the new
                      %a{href:"{% url 'contacts.contact_filter' group.uuid %}"}= group.name
                      group

                    - if results.errors
                      .import-result
                        .well.well-small
                          %strong
                            -blocktrans
                              Some rows were not imported
                          %br
                          %strong
                            -blocktrans
                              Errors description
                          %br
                            - for error_message in results.error_messages
                              Row {{ error_message.line }}: {{ error_message.error }}
                              %br

                  - elif results.errors
                    .import-result
                      .glyph.icon-warning.warning
                      -blocktrans count results.errors as error_count
                        Failed to import {{ error_count }} contact due to missing or invalid phone number
                        -plural
                          Failed to import {{ error_count }} contacts due to missing or invalid phone numbers

                    .import-result
                      .well.well-small
                        %strong
                          -blocktrans
                            Errors description

                        %br
                          - for error_message in results.error_messages
                            Row {{ error_message.line }}: {{ error_message.error }}
                            %br

                  - elif task.status == "SUCCESS" and not group.contacts.all
                    %p
                      Grouping..
                      %img{src:"{{ STATIC_URL }}images/loader-circles.gif"}

                  - elif not group.contacts.all
                    %p
                      -blocktrans
                        No contacts imported, please make sure your have a channel connected.

            - if salesforce_connect
              %p
                %form#import-form.smartmin-form.horizontal-form{method:"post", action:"{% url 'contacts.contact_import_salesforce' %}", enctype:"multipart/form-data"}
                  - if form.non_field_errors
                    .alert.alert-error.form-errors
                      {{ form.non_field_errors }}
                  
                  -csrf_token

                  -block fields
                    #salesforce_fields_errors
                      {{ form.salesforce_fields.errors }}
                    #salesforce_fields
                      {{ form.salesforce_fields }}

                    %p
                      %a#advancedOptionsButton{href: 'javascript:;', onclick: 'showAndHideAdvancedOptions()'}
                        -trans "Advanced options"

                    #salesforce_query_fields
                      
                      %p
                        -trans "Select the fields and the query, to import only contacts that match these requirements."

                      .templates
                        .salesforce-header-pair.hide
                          .field.header-field.field-select2
                            %select{id: 'header_0_field', name: 'header_0_field'}
                              -for item in sf_fields
                                %option{value: '{{item.id}}'} {{item.text}}
                          .field.header-rule
                            %select{id: 'header_0_rule', name: 'header_0_rule'}
                              -for item in sf_rules
                                %option{value: '{{item.id}}'} {{item.text}}
                          .field.header-value
                            %input{type: 'text', id: 'header_0_value', name: 'header_0_value'}
                          .field.header-action{onclick: 'removeQuery($(this))'}
                            .icon.icon-close
                  
                      #real-fields
                        .salesforce-header-pair
                          .field.header-field
                            %label
                              -trans "Field"
                          .field.header-rule
                            %label
                              -trans "Rule"
                          .field.header-value
                            %label
                              -trans "Value"
                      %a.add-query{href: 'javascript:;', onclick: 'addNewQuery()'}
                        .icon.icon-plus-circle2

                      %p
                        -trans "This query is always doing a \"and\". So we are only importing contacts that match all the criteria. For date fields use the following format YYYY-MM-DD."
                    
                  .form-buttons
                    %input.btn.btn-primary{type:"submit", value:'{% trans "Import" %}'}
                    %a.btn{onclick:"javascript:history.go(-1)"}
                      -trans "Cancel"
            -else
              %p
                %b{style: "color: #F00"}
                  -trans "Your Salesforce isn't connected."


{% block extra-style %}
:css
  .add-query {
    margin: 10px 0 0 0;
    display: table;
  }

  .select2-temba-field {
    width: 100%;
  }

  .select2-container-multi {
    width: 520px;
  }

  .form-buttons {
    margin-top: 30px;
  }

  #import-message .import-result {
    padding-bottom: 10px;
    font-size: 20px;
  }

  #import-message .import-result .glyph {
    font-size: 28px;
    margin: 0px 20px;
    line-height: 22px;
  }

  #import-message .import-result .well {
    font-size: 14px;
  }

  #import-message .import-result a {
    text-decoration :none;
  }

  #salesforce_query_fields {
    display: none;
  }

  #salesforce_query_fields.active {
    display: table;
  }

  #salesforce_query_fields .templates {
    display: none;
  }

  #salesforce_query_fields .salesforce-header-pair {
    width: 100%;
    margin: 0 0 4px 0;
  }

  #salesforce_query_fields .salesforce-header-pair .header-action div {
    color: #ccc;
    cursor: pointer;
  }

  #salesforce_query_fields .field {
    width: 190px;
    position: relative;
    display: inline-block;
  }

  #salesforce_query_fields .field input, #salesforce_query_fields .field select {
    width: 100%;
    box-sizing: border-box;
    height: 35px;
    margin-bottom: 0;
  }

{% endblock %}

{% block extra-script %}
  :javascript
    
    $(document).ready(function() {
      addNewQuery();
      $.ajax("{% url 'flows.flow_salesforce_fields' %}").success(function(data) {
        $('#id_salesforce_fields').select2({
          tags: true,
          tokenSeparators: [",", " "],
          minimumResultsForSearch: -1,
          placeholder: "Salesforce Fields like Name, Email...",
          containerCssClass: "select2-temba-field",
          data: data.results
        });
      });
    });

    function removeQuery(ele) {
      ele.parent().remove();
      var numPairs = $("#real-fields").children(".salesforce-header-pair").length;
      if (numPairs == 1) {
        addNewQuery();
      }
    }

    function addNewQuery() {
      var numPairs = $("#real-fields").children(".salesforce-header-pair").length
      var ele = $('.templates > .salesforce-header-pair').clone();

      ele.find('select[id^="header_"]').each(function(){
        var id = $(this).attr('id');
        $(this).attr('id', id.replace(/0/g, numPairs));
        var name = $(this).attr('name');
        $(this).attr('name', name.replace(/0/g, numPairs));
      });

      ele.find('input[id^="header_"]').each(function(){
        var id = $(this).attr('id');
        $(this).attr('id', id.replace(/0/g, numPairs));
        var name = $(this).attr('name');
        $(this).attr('name', name.replace(/0/g, numPairs));
      });
      
      $("#real-fields").append(ele);
      ele.toggleClass('hide');
    }

    function showAndHideAdvancedOptions() {
      var btn = $('#advancedOptionsButton');
      var el = $('#salesforce_query_fields');
      if (el.hasClass('active')) {
        el.removeClass('active');
        btn.html('Advanced options');
      } else {
        el.addClass('active');
        btn.html('Simple options');
      }
    }

{% endblock %}